[submodule "submodules/coditect-cloud-backend"]
	path = submodules/coditect-cloud-backend
	url = https://github.com/coditect-ai/coditect-cloud-backend.git
[submodule "submodules/coditect-cloud-frontend"]
	path = submodules/coditect-cloud-frontend
	url = https://github.com/coditect-ai/coditect-cloud-frontend.git
[submodule "submodules/coditect-cli"]
	path = submodules/coditect-cli
	url = https://github.com/coditect-ai/coditect-cli.git
[submodule "submodules/coditect-docs"]
	path = submodules/coditect-docs
	url = https://github.com/coditect-ai/coditect-docs.git
[submodule "submodules/coditect-agent-marketplace"]
	path = submodules/coditect-agent-marketplace
	url = https://github.com/coditect-ai/coditect-agent-marketplace.git
[submodule "submodules/coditect-analytics"]
	path = submodules/coditect-analytics
	url = https://github.com/coditect-ai/coditect-analytics.git
[submodule "submodules/coditect-infrastructure"]
	path = submodules/coditect-infrastructure
	url = https://github.com/coditect-ai/coditect-infrastructure.git
[submodule "submodules/coditect-legal"]
	path = submodules/coditect-legal
	url = https://github.com/coditect-ai/coditect-legal.git
[submodule "submodules/coditect-framework"]
	path = submodules/coditect-framework
	url = https://github.com/coditect-ai/coditect-framework.git
[submodule "submodules/coditect-automation"]
	path = submodules/coditect-automation
	url = https://github.com/coditect-ai/coditect-automation.git
[submodule "submodules/coditect-project-dot-claude"]
	path = submodules/coditect-project-dot-claude
	url = git@github.com:coditect-ai/coditect-project-dot-claude.git
[submodule "submodules/az1.ai-coditect-ai-screenshot-automator"]
	path = submodules/az1.ai-coditect-ai-screenshot-automator
	url = https://github.com/coditect-ai/az1.ai-coditect-ai-screenshot-automator.git
[submodule "submodules/az1.ai-coditect-agent-new-standard-development"]
	path = submodules/az1.ai-coditect-agent-new-standard-development
	url = https://github.com/coditect-ai/az1.ai-coditect-agent-new-standard-development.git
[submodule "submodules/coditect-interactive-workflow-analyzer"]
	path = submodules/coditect-interactive-workflow-analyzer
	url = https://github.com/coditect-ai/coditect-interactive-workflow-analyzer.git
[submodule "submodules/coditect-blog-application"]
	path = submodules/coditect-blog-application
	url = https://github.com/coditect-ai/coditect-blog-application.git
[submodule "submodules/NESTED-LEARNING-GOOGLE"]
	path = submodules/NESTED-LEARNING-GOOGLE
	url = https://github.com/coditect-ai/NESTED-LEARNING-GOOGLE.git
[submodule "submodules/az1.ai-CODITECT.AI-GTM"]
	path = submodules/az1.ai-CODITECT.AI-GTM
	url = https://github.com/coditect-ai/az1.ai-CODITECT.AI-GTM.git
[submodule "submodules/Coditect-v5-multiple-LLM-IDE"]
	path = submodules/Coditect-v5-multiple-LLM-IDE
	url = https://github.com/coditect-ai/Coditect-v5-multiple-LLM-IDE.git
[submodule "submodules/coditect-activity-data-model-ui"]
	path = submodules/coditect-activity-data-model-ui
	url = https://github.com/coditect-ai/coditect-activity-data-model-ui.git
[submodule "submodules/az1.ai-CODITECT-ERP-CRM"]
	path = submodules/az1.ai-CODITECT-ERP-CRM
	url = https://github.com/coditect-ai/az1.ai-CODITECT-ERP-CRM.git
[submodule "submodules/coditect-license-manager"]
	path = submodules/coditect-license-manager
	url = https://github.com/coditect-ai/coditect-license-manager.git
[submodule "submodules/coditect-license-server"]
	path = submodules/coditect-license-server
	url = https://github.com/coditect-ai/coditect-license-server.git
[submodule "submodules/coditect-installer"]
	path = submodules/coditect-installer
	url = https://github.com/coditect-ai/coditect-installer.git
