[submodule "submodules/coditect-cloud-backend"]
	path = submodules/coditect-cloud-backend
	url = https://github.com/coditect-ai/coditect-cloud-backend.git
[submodule "submodules/coditect-cloud-frontend"]
	path = submodules/coditect-cloud-frontend
	url = https://github.com/coditect-ai/coditect-cloud-frontend.git
[submodule "submodules/coditect-cli"]
	path = submodules/coditect-cli
	url = https://github.com/coditect-ai/coditect-cli.git
[submodule "submodules/coditect-docs"]
	path = submodules/coditect-docs
	url = https://github.com/coditect-ai/coditect-docs.git
[submodule "submodules/coditect-agent-marketplace"]
	path = submodules/coditect-agent-marketplace
	url = https://github.com/coditect-ai/coditect-agent-marketplace.git
[submodule "submodules/coditect-analytics"]
	path = submodules/coditect-analytics
	url = https://github.com/coditect-ai/coditect-analytics.git
[submodule "submodules/coditect-infrastructure"]
	path = submodules/coditect-infrastructure
	url = https://github.com/coditect-ai/coditect-infrastructure.git
[submodule "submodules/coditect-legal"]
	path = submodules/coditect-legal
	url = https://github.com/coditect-ai/coditect-legal.git
[submodule "submodules/coditect-framework"]
	path = submodules/coditect-framework
	url = https://github.com/coditect-ai/coditect-framework.git
[submodule "submodules/coditect-automation"]
	path = submodules/coditect-automation
	url = https://github.com/coditect-ai/coditect-automation.git
